nav {
	background-color:white;
	padding: 20px;
}

nav ul {
	list-style: none;
	width: 100%;
	padding:0px;
	margin: 0px;	
}

nav ul li {
	display: inline;
	width: 25%;
	text-align: center;
	margin-right: 20px;
	padding:20px;
}

nav ul li:hover {
	background-color: black;
	color: white;	
}